@import '@/styles/vars.scss';

.main {
    width: 100%;
    background-size:cover;
    background-position: center bottom;
    display: grid;
    align-items: center;
    justify-items: center;
    position: relative;
    background-color: #959692;
}

.main :global(.img-fluid) {
    width: 100%;
    object-fit: cover;
    bottom: auto;
}
 .content {
    position: absolute;
    top: 8rem;
    display: flex;
    flex-direction: column;
}
.captionHome{
    display: grid;
    grid-row-gap: 24rem;
    text-align: center;
}
.title{
    font-family: 'Inter', sans-serif;  
    font-weight: 800;
    font-size: 33px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.218);
    color: $white;
}
.title2{
    margin: 0 5px;
}
.title3{
    color: #FFA800;
}
.button {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 5vw;
    padding: 0.3rem 4rem;
    border: 2px solid white;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.218);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.218);

    &:hover {
        background-color: white;
        color: $main-color;
    }
}
.contentText{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5rem;
    margin: 40px 30px;
    text-align: center;
    color: #393939;
    & strong {
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        font-size: 20px;

    }

}
.contentSimulation{
    padding: 0 20px;
}

@media (min-width: 992px){
    .captionHome{
        row-gap: 1rem;
    }
    .title{
        display: grid;
        line-height: 4rem;
        font-size: 4vw;
    }
    .title2{
        font-size: 5vw;
    }
    .button{
        font-size: 16px;
    }
    .contentText{
        position: relative;
        top: 17rem;   
        left: -10rem;     
    }
}

// /* Media Queries */
// @media (min-width: 768px) {
//     .text {
//         font-size: 8vw; 
//     }

//     .text1 {
//         font-size: 10vw; 
//     }

//     .button {
//         font-size: 1.5rem;
//     }
// }

// @media (min-width: 992px) {
//     .main {
//         height: 495px;
//         margin-bottom: 3rem;
//     }
    
//     .text {
//         font-size: 6vw; 
//     }

//     .text1 {
//         font-size: 8vw; 
//     }

//     .contentText {
//         bottom: 1rem;
//     }
// }

// @media (min-width: 1200px) {
//     .main {
//         height: 600px;
//     }

//     .text {
//         font-size: 2.5vw; 
//     }

//     .text1 {
//         font-size: 5vw; 
//     }

//     .button {
//         font-size:1vw;
//     }

//     .contentText {
//         font-size: 1.2vw;
//         bottom: 0rem;
//     }
// }

// @media (min-width: 1700px) {
//     .main {
//         height: 825px;
//     }

//     .text {
//         font-size: 4vw;
//     }

//     .text1 {
//         font-size: 5vw;
//     }

//     .contentText {
//         bottom: 1rem;
//     }
// }