@import '@/styles/vars.scss';

.main {
    height: 100vh;
    background-size:cover;
    background-position: center bottom;
    display: grid;
    align-items: center;
    justify-items: center;
    margin-bottom: 6.125rem;
    columns: 3;
    color: #A0A19E;
}

.main :global(.img-fluid) {
    max-width: 100%;
    height: auto; 
    object-fit: cover; 
}

.content {
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 70%;
}

.contentText {
    display: grid;
    // justify-content: center;
    font-size: 19px;
    text-align: center;
    color: $gray;
    margin: 30px 30px;

    & p {
        margin: 0;
    }
}

.text {
    display: flex;
    font-family: 'Inter', sans-serif;
    column-gap: 0.4rem;
    font-weight: 800;
    color: white;
    font-size: 5vw;
    margin-bottom: 24rem;
    &p {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.455);
        margin: 0;
    }
}
.text2 {
    color: #FFA800;
}

.button {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 5vw;
    padding: 0.3rem 4rem;
    border: 2px solid white;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.218);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.218);

    &:hover {
        background-color: white;
        color: $main-color;
    }
}

.contentSimulation{
    flex-direction: column;

}

/* Media Queries */
@media (min-width: 768px) {
    .text {
        font-size: 8vw; 
    }

    .text1 {
        font-size: 10vw; 
    }

    .button {
        font-size: 1.5rem;
    }
}

@media (min-width: 992px) {
    .main {
        height: 495px;
        margin-bottom: 3rem;
    }
    
    .text {
        font-size: 6vw; 
    }

    .text1 {
        font-size: 8vw; 
    }

    .contentText {
        bottom: 1rem;
    }
}

@media (min-width: 1200px) {
    .main {
        height: 600px;
    }

    .text {
        font-size: 2.5vw; 
    }

    .text1 {
        font-size: 5vw; 
    }

    .button {
        font-size:1vw;
    }

    .contentText {
        font-size: 1.2vw;
        bottom: 0rem;
    }
}

@media (min-width: 1700px) {
    .main {
        height: 825px;
    }

    .text {
        font-size: 4vw;
    }

    .text1 {
        font-size: 5vw;
    }

    .contentText {
        bottom: 1rem;
    }
}