@import '@/styles/vars.scss';

.main{
    margin: 0 2rem;
    text-align: center;
    margin: 5rem 0;
    & h2{
        font-family: $font-secondary;
        font-weight: 800;
        color: $main-color;
    }
    & span{
        color: $light-blue;
    }
}
.container{
    margin-top: 2rem;
    display: grid;
    grid-row-gap: 2rem;
    grid-template-areas:
    "item1 item2"
    "item3 item4";
    & img{
        width: 95%;
        border-radius: 120px;
        border: 3px solid #d9d9d9;
    }
}
.item1{
    grid-area: item1;
}
.item2{
    grid-area: item2;
}
.item3{
    grid-area: item3;
}
.item4{
    grid-area: item4;
}
@media (min-width: 768px){
    .container{
      & img{
        border-radius: 190px;
        width: 70%;
      }
    }
}

@media (min-width: 992px){
    .main{
        & h2{
            margin-bottom: 3rem;
        }
    }
    .container{
        justify-items: center;
        justify-content: center;
        grid-template-areas:
        "item1 item2 item3 item4";
        grid-row-gap: 0;
    }
}

@media (min-width: 1200px) {
    
    
}