.main {
  padding-bottom: 5rem;
}
.simulation {
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  h2 {
    font-weight: 800;
    font-size: 1.4rem;
    color: black;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    line-height: 2rem;
  }
  &__form {
    border-radius: 10px;
    background-color: white;
    color: #787878;
    & span {
      font-size: 14px;
    }
    & hr {
      margin: 0 20px;
      border: 2px solid #d9d9d9;
      border-radius: 10px;
    }
  }

  &__input {
    margin-bottom: 15px;
    padding: 0 30px;

    label {
      display: block;
      margin-bottom: 20px;
      font-size: 14px;
      text-align: left;
    }
    .amount {
      display: flex;
      justify-content: space-between;
    }
    .days {
      display: flex;
      justify-content: space-between;
    }
    input[type="range"] {
      width: 100%;
      margin-bottom: 0.5rem;
    }

    &__amountDisplay,
    &__daysDisplay {
      font-size: 14px;
      margin-top: 10px;
    }
  }

  &__result {
    margin-top: 1rem;
    padding: 0 30px;
    .note {
      font-family: "Inter", sans-serif;
      line-height: 0.8rem;
      font-weight: 500;
      font-size: 10px;
      color: #000000;
      text-align: left;
      & strong {
        font-weight: 900;
      }
      & a {
        color: #ff6600;
      }
    }

    .total {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;
      & span {
        font-size: 16px;
      }
    }
    .totalText {
      font-family: "Inter", sans-serif;
      font-weight: 800;
      color: #535353;
    }
    .totalNumber {
      color: #ff6600;
    }
  }

  .requestNow {
    display: block;
    background-color: #ff6600;
    text-align: center;
    color: white;
    padding: 1rem;
    cursor: pointer;
    margin-top: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 18px;
    border-radius: 0 0 10px 10px;
  }

  .requestNow:hover {
    background-color: #e2e0df;
    color: #ff6600; 
  }

  &__costs {
    margin-top: 20px;
    background-color: #dbe6f0;
    padding: 20px;
    border-radius: 8px;
    & h4 {
      margin: 0.8rem 0 0.8rem;
      text-align: left;
    }
  }

  &__costItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    & span {
      font-size: 10px;
    }
  }
  &__total {
    margin-top: 0.8rem;
  }
}
@media (min-width: 768px) {
  .simulation {
    & Label {
      font-size: 16px;
    }
    & span {
      font-size: 16px;
    }   
    .note{
      font-size: 12px;
    }
  .requestNow {
    font-size: 20px;
  }
  &__costs{
    & span {
      font-size: 14px;
    }
  }
  .total {
    & span {
      font-size: 20px;
    }
  }
}
}
@media (min-width: 1200px){
  .simulation{
    & Label {
      font-size: 12px;
    }
    & span {
      font-size: 12px;
    }
    & h2{
      font-size: 16px;
      padding:  .5rem 0 0 0;
    }
    .note{
      font-size: 10px;
    }
    &__costs{
      margin-top: 10px;
    }
  }
  .total {
    margin-bottom: 1rem !important;
    & span {
      font-size: 16px !important;
    }
  }
  .requestNow {
    font-size: 16px;
  }
}