@import '@/styles/vars.scss';

.main{
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    color: #fff;
    padding: 5rem 1rem;
    row-gap: 2rem;
    background: linear-gradient(123deg, #162683 0%, #1A3EA9 50%, #2865D9 100%);
    & h2{
        text-align: center;
        font-family: $font-secondary;
        font-size: 2rem;
        line-height: 2.3rem;
        font-weight: 500;
        margin: 0 2rem;

    }
}
.main :global(.dCAbUr){
    font-weight: 700;
    font-size: 20px !important;
    line-height: 25px !important;
    color: #0BD3FF !important;
}
.main :global(.ACYRQ){
    font-weight: 700;
    font-size: 20px !important;
    line-height: 25px !important;
    font-size: 18px;
}
.main :global(.bhFQAJ){
    padding: 1rem 0;
    line-height: 1.6rem;
    font-weight: 600;
}
.main :global(.egHdhy){
    border-bottom: solid 2px #fff !important;
    margin-bottom: 2rem;
}
.benefits{
    display: grid;
    justify-items: center;
    & img{
        width:100%;
    }
}

.jvxuhm{

    stroke: #0BD3FF !important;
}
.accordion{
    display: grid;
    grid-row-gap: 1rem;
    padding: 0 1rem;
    & svg{
        stroke: #0BD3FF !important;
    }
}