@import "@/styles/vars.scss";

.main {
  width: 100%;
  height: auto;
  display: grid;
  justify-content: center;
  color: #fff;
  padding: 5rem 0;
  row-gap: 2rem;
  background: linear-gradient(123deg, #162683 0%, #1a3ea9 50%, #2865d9 100%);
  & h2 {
    text-align: center;
    font-family: $font-secondary;
    line-height: 2.3rem;
    font-weight: 500;
    margin: 0 2rem 2rem;
  }
  & p {
    padding: 0 .5rem;
  }
}
.main :global(.dCAbUr) {
  font-weight: 700;
  font-size: 20px !important;
  line-height: 25px !important;
  color: #0bd3ff !important;
}
.main :global(.ACYRQ) {
  font-weight: 700;
  font-size: 20px !important;
  line-height: 25px !important;
  font-size: 18px;
}
.main :global(.bhFQAJ) {
  padding: 1rem 0;
  line-height: 1.6rem;
  font-weight: 500;
}
.main :global(.egHdhy) {
  border-bottom: solid 2px #fff !important;
  margin-bottom: 2rem;
}
.benefits {
  display: grid;
  justify-items: center;
  & img {
    width: 100%;
  }
}

.jvxuhm {
  stroke: #0bd3ff !important;
}
.accordion {
  display: grid;
  grid-row-gap: 1rem;
  padding: 0 1rem;
  & svg {
    stroke: #0bd3ff !important;
  }
}
@media(min-width: 992px) {
  .main{
    background-image: url(./images/bg.webp);
    background-size: cover;
    & h2{
      display: grid;
      margin-bottom: 3rem;
    
    }
    & p{
      font-size: 14px;
    }
  }
  .main :global(.ACYRQ) {
    font-size: 17px !important;
  }
  .main :global(.dCAbUr) {
    font-size: 17px !important;
  }
  .main :global(.bhFQAJ) {
    padding: .5rem 0;
  }
  .container{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-gap: 90px;
    align-items: center;
    & img{
      width: 120%;
    }
  }
}

@media (min-width: 1200px) {
}
