@import '@/styles/vars.scss';

.main{
    width: 100%;
    background-size:cover;
    background-image: url('./images/bg-home.jpg');
    display: grid;
    grid-row-gap: 2.5rem;
}

.image{   
    img{
        width: 100%;
        height: auto;
        padding: 50px 20px 0;
    }
}
.contentText{
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0 20px;
    padding: 60px 30px;
    border-radius: 20px;
    text-align: center;
    & h2{
        font-family: $font-secondary;
        font-weight: 800;
        font-size: 24px;
        margin-bottom: 30px;
    }
    & p{
        font-weight: 500;
        font-size: 17px;
        line-height: 1.7rem;
        margin-bottom: 50px;
    }
    & a{
        font-weight: 600;
        border: 3px solid $light-blue;
        border-radius: 10px;
        color: $dark-blue;
        padding: 0.3rem 4rem;
    }
    & strong{
        color: $light-blue;
    }
    .text1{
        color: $dark-blue;
    }
    .text2{
        color: $light-blue;
    }
}
.imageLogo{
    padding: 0 20px;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    img{
        width: 80%;
        height: auto;
        
    }
}

@media (min-width: 1200px) {
    .main{
        grid-template-columns: 1fr 1fr;
        background-position: center; /* Centra la imagen */
    }
    .contentText{
        padding: 3rem 5rem;
        margin: 5rem 10rem;
        width: 600px;
        height: 630px;
        & h2{
            font-size: 30px;
        }
        & p{
            font-size: 14px;
            text-align: justify;
        }
        & a{
            font-size: 16px;
        }
    }
    
    .image {
        position: absolute;
        right: 20px;
        & img {
            width: 320px;
        }
    }
    .imageLogo{
        align-items: flex-end;
        margin-left: 18rem;
        img{
            width: 80%;
        }
    }
}