@import "@/styles/vars.scss";

.main {
  height: auto;
  background-image: url("./images/bg-home.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  display: grid;
  grid-row-gap: 2.5rem;
}

.image {
  display: grid;
  justify-items: center;
  & img {
    width: 100%;
    height: auto;
    padding: 50px 0;
  }
}
.contentText {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 60px 30px;
  border-radius: 20px;
  text-align: center;
  color: #000;
  & h2 {
    font-family: $font-secondary;
    font-weight: 800;
    margin-bottom: 30px;
  }
  & p {
    font-weight: 500;
    line-height: 1.7rem;
    margin-bottom: 50px;
  }
  & a {
    font-weight: 600;
    border: 3px solid $light-blue;
    border-radius: 10px;
    color: $dark-blue;
    padding: 0.3rem 4rem;
  }
  & strong {
    color: $light-blue;
  }
  .text1 {
    color: $dark-blue;
  }
  .text2 {
    color: $light-blue;
  }
}
.imageLogo {
  margin: 3rem 0;
  display: grid;
  justify-items: center;
  img {
    width: 100%;
  }
}
.vector1 {
  position: relative;
  top: -0.5rem;
}
.vector2 {
  position: relative;
  top: -6rem;
  left: -12rem;
}
.vector3 {
  display: none;
}
@media (min-width: 768px) {
  .image {
    & img {
      width: 70%;
    }
  }
  .imageLogo {
    & img {
      width: 70%;
    }
  }
}

@media (min-width: 992px) {
  .mainContainer {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70% 10%;
    background-position: center center;
    margin-top: 5rem;
    .image {
      grid-column: 2/3;
      grid-row: 1/2;

      & img {
        width: 50%;
        padding: 0;
        justify-self: end;
      }
    }
    .contentText {
      height: 700px;
    }
    .imageLogo {
      grid-column: 2/3;
      grid-row: 2/3;
      margin-bottom: 0;
      & img {
        justify-self: end;
        width: 50%;
      }
    }
  }
  .vector1 {
    top: 2rem;
  }
  .vector2 {
    left: -5rem;
  }
  .vector3 {
    display: block;
    position: relative;
    top: -30rem;
    left: 25rem;
  }
}

@media (min-width: 1200px) {
  .contentText {
    height: 620px !important;
  }
  .vector3 {
    left: 30rem;
  }
}

@media (min-width: 1500px) {
  .main {
    height: 100vh;
  }
  .mainContainer {
    height: 100vh;
    .image {
      & img {
        width: 40%;
      }
    }
  }
  .contentText {
    padding: 3rem;
    & p {
      margin-bottom: 40px;
    }
  }
  .vector1 {
    left: -3rem;
    top: 3.5rem;
  }
  .vector2 {
    left: -12rem;
    width: 100px;
  }
  .vector3 {
    left: 40rem;
  }
}
@media (min-width: 1700px) {
  .contentText {
    width: 600px;
    height: 700px !important;
  }
  .vector2 {
    left: -8rem;
  }
  .vector3 {
    left: 45rem;
  }
}
@media (min-width: 2000px) {
  .main {
    height: auto;
  }
  .mainContainer {
    height: auto;
  }
  .contentText {
    height: 770px !important;
    p{
      line-height: 2rem;
    }
  }
  .vector1 {
    width: 190px;
    height: 190px;
    left: -5rem;
    top: -4rem;

  }
  .vector2 {
    width: 150px;
    height: 150px;
    left: -19rem;
    top: -25rem;
  }
  .vector3 {
    left: 55rem;
  }
}
