@import "@/styles/vars.scss";

.main {
  margin: 38px 0;
  padding: 34px 0;
  & li:hover {
    color: #0b8aff;
  }
  hr {
    background-color: #b0b0b0;
    height: 2px;
  }
  p {
    font-size: 16px;
  }
}
.title {
  color: $main-color;
  font-family: "Inter", sans-serif;
  margin-bottom: 2rem;
  font-weight: 800;
  text-align: center;
  display: block;
  span {
    color: $light-blue;
  }
}
.navbarSlider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 10px;
  padding: 10px 0;
  scroll-behavior: smooth;
  width: 100%;
}

.slide {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-decoration: none;
  display: inline-block;
  color: #818181;
  flex: 0 0 auto;
  scroll-snap-align: center;
  padding: 10px 20px;
  white-space: nowrap;
  text-align: center;
  &.active {
    color: #0b8aff;
  }
}

.arrow {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #b0b0b0;
}

.content {
  margin-top: 20px;
  height: 250px;
}

.textShow {
  display: block;
  color: #535353;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}

.text {
  display: none;
}

@media (min-width: 768px) {
  .slider {
    overflow-x: visible;
    justify-content: center;
  }
  .content {
    height: 100px;
  }
  .arrow {
    display: none;
  }
}

@media (min-width: 992px) {
  .main {
    hr {
      height: 3px;
    }
  }
  .content {
    padding: 0 3rem;
  }
  .title {
    padding-bottom: 1rem;
  }
  .slider {
    gap: 5rem;
  }
}
@media (min-width: 1700px) {
  .main{
    p {
      font-size: 18px;
    }
  }
  .slide {
    font-size: 24px;
  }
}
