@import "@/styles/vars.scss";

.main{
  margin: 36px 0;
  padding: 36px 0;
  & li:hover{
    color:#0B8AFF;
  }
}

.navbar-slider {
  padding: 30px;
  width: 90%;
  margin: 0 auto;
}

.navbarList {
  display: none;
}
.navItem{
  font-family: "Inter", sans-serif;
}
.slider .slick-slide {
  text-align: center;
  padding: 10px;
  font-size: 80px;
  color: #535353;
}

.slider .slick-prev,
.slider .slick-next {
  color: red;
}

.title {
  color: $main-color;
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 63px;
  line-height: 63px;
  font-size: 22px;
  font-weight: 800;
  text-align: center;
  display: block;
}

.title span {
  color: $light-blue;
}

.navLink {
  font-size: 20px;
  font-weight: 800;
  text-decoration: none;
  display: inline-block;
  color: #818181;
}

.navLink:active {
  color: #0B8AFF;
}

.text {
  display: none;
}

.textShow {
  display: block;
  border-top: 3px solid #ccc;
  width: 90%;
  padding: 24px 0;
  margin: 0 auto;
  color: #535353;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}

@media (min-width: 768px) {
  .title {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 2rem;
  }
  .navbar-slider {
    display: none;
  }
  .navbarList {
    padding: 30px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    .navItem {
      text-decoration: none;
      display: inline-block;
      color: #818181;
      font-size: 20px;
      font-weight: 800;
    }

    .navItem:active {
      color: #0B8AFF;
    }
  }
  .textShow{
    font-size: 14px;
    height: 150px;
    padding: 2 4rem ;
  }

}

@media  (min-width: 900px) {
  .textShow{
    padding: 2rem 4rem 0;
    height: 130px;

  }
  
}