$main-color: #1A3EA9;
$second-color: #FF7E0B;
$gray: #393939;
$text: #ffffff;
$font-primary: 'Poppins', sans-serif;
$font-default: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";